<select (change)="onChange($event.target.value)" [disabled]="!options || !options.length" class="form-control">
    <option *ngIf="options && !options.length">Loading...</option>
    <option *ngIf="!options">{{ chooseMessage || 'Choose category' }}</option>
    <option *ngFor="let item of options" [value]="item.value">{{ item.name }}</option>
</select>