<div class="container">
    <div class="row justify-content-center">


        <div class="col-lg-6 col-sm-3 col-12 align-self-center">
            <h2>Please tell us who you are</h2>
        </div>

        <div class="col-lg-6 col-sm-9 col-12">

            <form (ngSubmit)="onSubmit()" [formGroup]="form" autocomplete="off">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" [(ngModel)]="user.email" formControlName="email" id="email">
                    <span class="text-danger" *ngIf="form.get('email').hasError('required')"> *require</span>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" [(ngModel)]="user.password" type="password" formControlName="password" id="password">
                    <span class="text-danger" *ngIf="form.get('password').hasError('required')"> *require</span>
                </div>

                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input class="form-control" [(ngModel)]="user.passwordConfirm" formControlName="passwordConfirm" type="password" id="confirm-password">
                    <span class="text-danger" *ngIf="form.get('passwordConfirm').hasError('required')"> *require</span>
                    <span class="text-danger" *ngIf="form.get('passwordConfirm').hasError('noEqual')"> *Password not equal</span>
                </div>

                <div class="form-group">
                    <label>Country</label>
                    <custom-select
                            [chooseMessage]="'Choose country'"
                            [options]="countries"
                            (valueChange)="onCountryChange($event)">
                    </custom-select>
                </div>

                <div class="form-group">
                    <label>City</label>
                    <custom-select
                            [options]="cities"
                            [chooseMessage]="'Choose city'"
                            (valueChange)="onCityChange($event)">

                    </custom-select>
                </div>

                <div class="form-group">
                    <label>ZIP Code</label>
                    <custom-select [chooseMessage]="'Choose code'"
                                   [options]="zipCodes"
                                   (valueChange)="onZipCodeChange($event)"></custom-select>
                </div>

                <button type="submit" [disabled]="!form.valid" class="btn btn-primary mt-4 float-right">Submit</button>

            </form>

        </div>


    </div>
</div>
