<h1> User data:</h1>
<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading">
    <p>Email: <span class="text-success">{{user.email}}</span></p>
    <p *ngIf="user.country">Country: <span class="text-success">{{user.country}}</span></p>
    <p *ngIf="user.city">City: <span class="text-success">{{user.city}}</span></p>
    <p *ngIf="user.zipCode">Zip-code: <span class="text-success">{{user.zipCode}}</span></p>
</div>
