<div class="login-card">


    <div class="container">
        <div class="row">


            <div class="col-12">

                <form (ngSubmit)="onSubmit()"  class="form" novalidate autocomplete="off">

                    <h3 class="text-center text-info">Login</h3>

                    <div class="form-group">
                        <label for="username" class="text-info">Username:</label><br>
                        <input [(ngModel)]="login" type="text" name="username" id="username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password" class="text-info">Password:</label><br>
                        <input [(ngModel)]="password" type="text" name="password" id="password" class="form-control">
                    </div>

                    <div class="form-row mb-2">

                        <div class="col-12 justify-content-end">
                            <a routerLink="/register" class="text-info float-right mr-2">Register here</a>
                        </div>
                    </div>

                    <button class="btn btn-info btn-block" type="submit">
                        Login
                    </button>

                </form>

            </div> <!-- col -->


        </div> <!-- row -->
    </div> <!-- container -->
    <p class="error text-danger text-center" *ngIf="error">{{error}}</p>


</div> <!-- login-card -->

